:root {
    --background-color: #fefefe;
    --text-color: #4E56C0;
    --blur-color : #7e6ea4;
    --btn-color : #ffffff66;
    --hover-color: #6cbbec33;
    --shadow-effect: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: var(--text-color);
}
/*                   navBar              */


.navBar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Portfolio h1 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-weight: bolder;
}

.headerPart {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: var(--background-color);
    box-shadow: var(--shadow-effect);
}



.navControl {
    width: 50%;
}

.navControl ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 700px) {
.navControl ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; left: 0; right: 0;
    background: #fff;
    padding: 24px 0;
  }
  .navbar-toggle {
    display: block;
  }
}
.navControl ul li {
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.3rem;
    
    
}

.navLinks  li   a {
    text-decoration: none;
    color:var(--text-color);
}

.navControl ul li:hover {
    background-color: var(--hover-color); 
    border-radius: 5px;
    color: var(--background-color);

}

.navControl ul li:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.NightControl {
    padding: 3px 8px ;
    background-color: var(--btn-color);
    border-radius: 7px;
    cursor: pointer;
}
.NightControl:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    
}

.NightControl:active{
    box-shadow: var(--shadow-effect);
    opacity: 0.7 ;
}










/*                   navBar End              */

/*            profile section                */

.profile-section {
    height: 90vh;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20x 0;
    /* margin-bottom: 20px; */
}

.profile-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.profile-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.profile-section .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: var(--background-color);
    background-color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    /* box-shadow: var(--shadow-effect); */
    transition: background-color 0.3s ease;
    cursor: pointer;
    
}

.profile-section .btn:active {
    box-shadow: var(--shadow-effect);
    opacity: 0.7 ;
}



.profile-section .btn:hover {
    opacity: 0.8;
}



.profile-section .social-icons {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
}
.profile-section .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}


.profile-section .social-icons a:hover {
    color: var(--blur-color);
}  

.container h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.container .tech-stack {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.profile-section img {
   width: 100%;
   height: 400px;
    border-radius: 10px;    
}




/*            profile section End                */


/*            Work Section                */

#Work-section h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
#Work-section {
    background-color: var(--background-color);
}

.work-container {
    width: 90%;
    margin: 0 auto;
   display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.img-container {
    width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.img-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.img-container img:hover {
   transform: scale(1.1);
   
}

.img-container h1 {
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    opacity: 0;
}

.img-container:hover h1 {
    opacity: 1;
    background-color: var(--btn-color);
    box-shadow: var(--shadow-effect);
}

.img-container .buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    bottom: 10%;
    left: 25%;
}
.img-container .buttons a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: var(--shadow-effect);
    transition: background-color 0.3s ease;
    opacity: 0;
}

.img-container .buttons a:hover {
    opacity: 1;
}


.img-container .buttons a:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*            Work Section End                */

/*          Servise Section                */

#Service-section {
    background-color: var(--background-color);
    padding: 40px 0;
}

#Service-section h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.service-class{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.Services-part {
    width: 30%;  
}
.Services-part {
    width: 400px;
    text-align: center;
    padding: 20px;
    box-shadow: var(--shadow-effect);
    border-radius: 10px;
    transition: transform 0.3s ease;
    line-height: 1.5;
}

/* services end  */
#testimonial-section{
    background-color: var(--background-color);
    padding: 40px 0;
}

#testimonial-section h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
.testimonial-card{
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: var(--shadow-effect);
    border-radius: 10px;
    transition: transform 0.3s ease;
    line-height: 1.5;
}

.testimonial-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid var(--text-color);
}
/*          Servise Section End                */